

$fuenteppal: 'IBM Plex Mono', monospace;
$fuentetitulos: 'IBM Plex Sans', sans-serif;
$fuentebotones: 'IBM Plex Mono', monospace;
$fuenteiconos: 'IBM Plex Sans', sans-serif;

@import "../partials/header";
@import "../partials/basestyles";
@import "../partials/contenedor-hola-mundo";
@import "../partials/contenedor-podcast";
@import "../partials/contenedor-phone-parrafo";
@import "../partials/seccion-imagenes";
@import "../partials/seccion-iconos";
@import "../partials/novedades";
@import "../partials/contenedor-footer";
@import "../partials/version-desktop";

